<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e6cb61f-744a-4a95-aa4f-085573e59ea4" Alias="202064560 Cat Column Diagram Funny 5 Steps Infographic Template Growing Charts Bar Graph Black Kitten" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CatColumnDiagramFunny5StepsInfographicTemplateGrowingChartsBarGraphBlackKitten</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T09:29:24</CreateDate>
    <NodeName Default="202064560 Cat Column Diagram Funny 5 Steps Infographic Template Growing Charts Bar Graph Black Kitten" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dg1gypsk/202064560-cat-column-diagram-funny-5-steps-infographic-template-growing-charts-bar-graph-black-kitten.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>