<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f21b142-ec9c-4dc4-a3a6-6b03b7e21a3e" Alias="2A7bc904 7942 4Baa A7f1 E225ddf2f473" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/A7bc90479424BaaA7f1E225ddf2f473</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-20T12:26:27</CreateDate>
    <NodeName Default="2A7bc904 7942 4Baa A7f1 E225ddf2f473" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/isydcd22/2a7bc904-7942-4baa-a7f1-e225ddf2f473.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>