<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e70c00b-a424-4fd8-ac20-0ef651602297" Alias="5Cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:17:12</CreateDate>
    <NodeName Default="5Cat" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bxaha1re/5cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>