<?xml version="1.0" encoding="utf-8"?>
<Media Key="be5a95d2-bf97-47f6-8727-605202634f34" Alias="6Cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:19:05</CreateDate>
    <NodeName Default="6Cat" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0skfvpux/6cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>