<?xml version="1.0" encoding="utf-8"?>
<Media Key="eece9c80-74bc-44f3-ace2-527c3b5a3f59" Alias="7Cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:18:28</CreateDate>
    <NodeName Default="7Cat" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q0om31v2/7cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>