<?xml version="1.0" encoding="utf-8"?>
<Media Key="cacb4afe-7095-4503-94bc-d276c41cd13f" Alias="Backgroundcolours (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Backgroundcolours2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:29:43</CreateDate>
    <NodeName Default="Backgroundcolours (2)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5bfmxsuv/backgroundcolours.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>