<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e582493-3f2a-4171-8423-ecebfaee930b" Alias="Backgroundcolours" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgroundcolours</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:30:52</CreateDate>
    <NodeName Default="Backgroundcolours" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/susfq1rk/backgroundcolours.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>