<?xml version="1.0" encoding="utf-8"?>
<Media Key="06d146fd-7a6c-4984-b99e-d8f2816f39e3" Alias="Beagle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Beagle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:02:33</CreateDate>
    <NodeName Default="Beagle" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ndncbtm/beagle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>