<?xml version="1.0" encoding="utf-8"?>
<Media Key="a54a8f8c-a203-4e9a-93f4-77bead362537" Alias="Blacktech" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blacktech</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:22:02</CreateDate>
    <NodeName Default="Blacktech" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkhfvjid/blacktech.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>