<?xml version="1.0" encoding="utf-8"?>
<Media Key="13f84e4c-d64e-4482-a9c1-eccab04466e2" Alias="Cards" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cards</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:22:02</CreateDate>
    <NodeName Default="Cards" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jjhpqe0o/cards.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>