<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffdcd4d4-2bf7-46da-b159-d6e69bbad4e7" Alias="Cat" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Cat</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T14:12:24</CreateDate>
    <NodeName Default="Cat" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0lknz55x/cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>