<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ea12565-fe89-4eba-8f78-3f7ed96fa66b" Alias="Challenge4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:42:26</CreateDate>
    <NodeName Default="Challenge4" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mmsldduj/challenge4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>