<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf84dd27-762e-4d84-9ded-e6e729e10ae6" Alias="Challenge1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:41:16</CreateDate>
    <NodeName Default="Challenge1" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehojjpzo/challenge1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>