<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccff4043-055a-4ee5-9d9d-1759c21f0a5c" Alias="Challenge6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:21:55</CreateDate>
    <NodeName Default="Challenge6" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ivap5tc0/challenge6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>