<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6e7f113-70d4-4eac-896e-7c08af4a36e2" Alias="Challenege 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenege5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-20T11:31:50</CreateDate>
    <NodeName Default="Challenege 5" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cxypprwu/challenege-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>