<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd2fcc0f-3cfc-45be-940a-1e127d1a9a72" Alias="Challenge 6 Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge6Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-20T11:33:57</CreateDate>
    <NodeName Default="Challenge 6 Banner" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhgc5xp2/challenge-6-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>