<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc1ed98f-d9f4-454a-8427-61b2def63942" Alias="Challenge 7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Challenge7</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-20T11:57:25</CreateDate>
    <NodeName Default="Challenge 7" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rhmb3thu/challenge-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>