<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf3e9756-97c0-4744-913b-2a95562e7348" Alias="Challenge7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:43:18</CreateDate>
    <NodeName Default="Challenge7" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kcld3p4a/challenge7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>