<?xml version="1.0" encoding="utf-8"?>
<Media Key="03b79b2f-4cce-4ee4-8246-f0914a070500" Alias="Challenge 7 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Challenge71</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-20T12:32:41</CreateDate>
    <NodeName Default="Challenge 7 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fgnloa4o/challenge-7-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>