<?xml version="1.0" encoding="utf-8"?>
<Media Key="e904bcf9-c02b-43a6-9e12-b2aea4dc4d1c" Alias="Challenge6 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Challenge61</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:42:58</CreateDate>
    <NodeName Default="Challenge6 (1)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/544aj0jl/challenge6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>