<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fb506bb-22a6-4978-b7b0-0f6cf49f7909" Alias="Colour Picker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ColourPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T17:23:10</CreateDate>
    <NodeName Default="Colour Picker" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xudlld3g/colour-picker.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>