<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1095806-b0da-481e-aebf-a85c521ef5c3" Alias="Corgi" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Corgi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:06:00</CreateDate>
    <NodeName Default="Corgi" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/abmatuo0/corgi.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>