<?xml version="1.0" encoding="utf-8"?>
<Media Key="039982c0-bed8-4139-84b1-2fdc154c04de" Alias="Cute Funny Cat Pictures 93Mkt479cwb3d1rd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CuteFunnyCatPictures93Mkt479cwb3d1rd</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T14:20:22</CreateDate>
    <NodeName Default="Cute Funny Cat Pictures 93Mkt479cwb3d1rd" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0bjsa4y/cute-funny-cat-pictures-93mkt479cwb3d1rd.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>