<?xml version="1.0" encoding="utf-8"?>
<Media Key="79849fe8-47da-47e3-b2e4-1fbab14c3002" Alias="Daschund" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Daschund</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-14T16:46:27</CreateDate>
    <NodeName Default="Daschund" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/30pji4o0/daschund.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>