<?xml version="1.0" encoding="utf-8"?>
<Media Key="d39496f4-a57d-46c0-a3d7-cc6e3cbc5432" Alias="Dolls" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Dolls</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-19T12:23:36</CreateDate>
    <NodeName Default="Dolls" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4kljju13/dolls.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>