<?xml version="1.0" encoding="utf-8"?>
<Media Key="30b01a96-67fd-4120-8231-28412e648a50" Alias="Dolls2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Dolls2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-19T12:24:59</CreateDate>
    <NodeName Default="Dolls2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sanlamh3/dolls2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>