<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c0f9be3-0d4f-4d12-a68b-f92b2f546b25" Alias="Dollsizegraphic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dollsizegraphic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:32:28</CreateDate>
    <NodeName Default="Dollsizegraphic" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2wnb5dcp/dollsizegraphic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>