<?xml version="1.0" encoding="utf-8"?>
<Media Key="483eafe1-f74f-41c0-a334-b1ff46e56ef7" Alias="Download" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Download</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:28:39</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/24xd2scp/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>