<?xml version="1.0" encoding="utf-8"?>
<Media Key="051c940e-c882-459d-b8c6-486a8d6a4212" Alias="Dpgsgraphicbanner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dpgsgraphicbanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:34:08</CreateDate>
    <NodeName Default="Dpgsgraphicbanner" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bckbybmc/dpgsgraphicbanner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>