<?xml version="1.0" encoding="utf-8"?>
<Media Key="3817a6eb-abb0-4156-8c3e-5ad253f0aa40" Alias="Frog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:07:37</CreateDate>
    <NodeName Default="Frog" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3wtboofq/frog.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>