<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b991ab8-6615-452a-88e7-0a325cca2694" Alias="Goldenretriever" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Goldenretriever</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T14:59:33</CreateDate>
    <NodeName Default="Goldenretriever" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xynjs0yv/goldenretriever.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>