<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78c5323-003f-450e-9743-c7866688595b" Alias="Greendog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Greendog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:04:07</CreateDate>
    <NodeName Default="Greendog" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/evjjzjz5/greendog.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>