<?xml version="1.0" encoding="utf-8"?>
<Media Key="f52e1915-e91a-4801-b784-c9178179a5e9" Alias="Jack Russel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JackRussel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-21T14:23:57</CreateDate>
    <NodeName Default="Jack Russel" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cmmd33i0/jack-russel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>