<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4d4eb7a-4882-438b-919f-a486c4ee82e4" Alias="Method4 Logo White Vector SVG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Method4LogoWhiteVectorSVG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-11T12:49:41</CreateDate>
    <NodeName Default="Method4 Logo White Vector SVG" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpvnjzec/method4-logo-white-vector-svg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>