<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c9097cf-a1b8-4a8a-9192-63ab52a596e9" Alias="Method4 Logo White Vector SVG (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Method4LogoWhiteVectorSVG2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:39:40</CreateDate>
    <NodeName Default="Method4 Logo White Vector SVG (2)" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zgljadfy/method4-logo-white-vector-svg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>