<?xml version="1.0" encoding="utf-8"?>
<Media Key="bea47730-2da6-4233-afdb-a9ed09ad8a63" Alias="Method4 Logo Grey On Transparent Scaled Small" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Method4LogoGreyOnTransparentScaledSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T12:20:52</CreateDate>
    <NodeName Default="Method4 Logo Grey On Transparent Scaled Small" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gz1ljpvg/method4-logo-grey-on-transparent-scaled-small.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>