<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3a72233-4b95-4e69-ae45-7cec7fdfbae9" Alias="Nestingdolls" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nestingdolls</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-19T12:21:21</CreateDate>
    <NodeName Default="Nestingdolls" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gurkpi2v/nestingdolls.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>