<?xml version="1.0" encoding="utf-8"?>
<Media Key="82be75ab-4784-42eb-90c7-0f85a73c8c5f" Alias="OIP (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/OIP1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T14:09:53</CreateDate>
    <NodeName Default="OIP (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vv0l3aue/oip.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>