<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d0e4d81-f9f1-4fae-9611-65b3c6da4984" Alias="OIP" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/OIP</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T13:34:53</CreateDate>
    <NodeName Default="OIP" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q3gb2tpr/oip.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>