<?xml version="1.0" encoding="utf-8"?>
<Media Key="87a74f2c-094a-4fb0-b012-5d9c4f2f2ef7" Alias="Orangebackground" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Orangebackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:17:51</CreateDate>
    <NodeName Default="Orangebackground" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fjhlpb0k/orangebackground.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>