<?xml version="1.0" encoding="utf-8"?>
<Media Key="47660032-aa63-4ede-9534-6f885f7ed630" Alias="Partner Logo Microsoft 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogoMicrosoft1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:54:20</CreateDate>
    <NodeName Default="Partner Logo Microsoft 1" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqagmr1d/partner-logo-microsoft-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>