<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4d2b785-4101-45a7-aca5-c5ebff7cec56" Alias="Picture2cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture2cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:11:41</CreateDate>
    <NodeName Default="Picture2cat" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qo1nfrab/picture2cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>