<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d8a66a0-1181-4c09-87ae-6826c3b574e9" Alias="Picture4cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture4cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:12:44</CreateDate>
    <NodeName Default="Picture4cat" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uztiutmb/picture4cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>