<?xml version="1.0" encoding="utf-8"?>
<Media Key="a223ffa6-66c0-4591-a63c-5ac903d2e85e" Alias="Picture5cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture5cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:13:15</CreateDate>
    <NodeName Default="Picture5cat" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ud5dhiwa/picture5cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>