<?xml version="1.0" encoding="utf-8"?>
<Media Key="3299a512-649e-41f2-82a6-f2279c51a908" Alias="Picture7cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture7cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:11:59</CreateDate>
    <NodeName Default="Picture7cat" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cssjsmu4/picture7cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>