<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa72e86b-248b-4598-9517-40cc2965f90f" Alias="R" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/R</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T13:37:11</CreateDate>
    <NodeName Default="R" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nxuhfkul/r.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>