<?xml version="1.0" encoding="utf-8"?>
<Media Key="c67bf2f4-71a3-4195-b1b6-0dde7b7ef01a" Alias="Redandblackbackground" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Redandblackbackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T12:24:49</CreateDate>
    <NodeName Default="Redandblackbackground" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lzhxrvd/redandblackbackground.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>