<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b080cc5-d8b4-4857-ae31-b4db750f09a0" Alias="Redbackground" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Redbackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:19:50</CreateDate>
    <NodeName Default="Redbackground" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ymgaqc3u/redbackground.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>