<?xml version="1.0" encoding="utf-8"?>
<Media Key="417a55af-9126-4728-adf8-5b0460c5a527" Alias="Redqueen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Redqueen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:22:02</CreateDate>
    <NodeName Default="Redqueen" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vfkhuqjg/redqueen.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>