<?xml version="1.0" encoding="utf-8"?>
<Media Key="df4cfa06-6b50-406c-aea3-e4bf1f9d4729" Alias="Robot3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Robot3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:24:34</CreateDate>
    <NodeName Default="Robot3" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ad3ezx0q/robot3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>