<?xml version="1.0" encoding="utf-8"?>
<Media Key="5038db22-263d-4e04-bce1-507e222e24a7" Alias="Robot2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Robot2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T15:24:15</CreateDate>
    <NodeName Default="Robot2" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/etndqub3/robot2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>