<?xml version="1.0" encoding="utf-8"?>
<Media Key="86c21ae6-1ef9-42ab-b893-611e4f561805" Alias="Screenshot 2023 09 28 145240" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230928145240</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T14:52:53</CreateDate>
    <NodeName Default="Screenshot 2023 09 28 145240" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2anmfbxz/screenshot-2023-09-28-145240.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>