<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d72f5af-d5ca-40f8-a7e8-0d89def24182" Alias="Screenshot 2023 09 28 132815" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230928132815</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T13:28:42</CreateDate>
    <NodeName Default="Screenshot 2023 09 28 132815" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vh0helok/screenshot-2023-09-28-132815.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>