<?xml version="1.0" encoding="utf-8"?>
<Media Key="f88db9e8-1af1-4383-ab0f-e441584f0a63" Alias="Screenshot 2023 09 18 133012" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Screenshot20230918133012</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T13:30:27</CreateDate>
    <NodeName Default="Screenshot 2023 09 18 133012" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/302j14hr/screenshot-2023-09-18-133012.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>