<?xml version="1.0" encoding="utf-8"?>
<Media Key="5762183f-3109-4fae-b7a0-4e7afaf73e5b" Alias="Tree Frog" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TreeFrog</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-14T16:46:27</CreateDate>
    <NodeName Default="Tree Frog" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hemgevyj/tree-frog.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>