<?xml version="1.0" encoding="utf-8"?>
<Media Key="f00b34f5-ef04-4b9e-a3e1-f9e7ad536471" Alias="Umbraco Gold Partner Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoGoldPartnerLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:54:05</CreateDate>
    <NodeName Default="Umbraco Gold Partner Logo" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4m0ax2ae/umbraco-gold-partner-logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>