<?xml version="1.0" encoding="utf-8"?>
<Media Key="67045c40-5a93-47a4-9e46-c6d67d40cff9" Alias="Wales Tech Week LOGO 2022 Wo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WalesTechWeekLOGO2022Wo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T11:38:14</CreateDate>
    <NodeName Default="Wales Tech Week LOGO 2022 Wo" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izoaiz2t/wales-tech-week-logo-2022-wo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>