<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e9db47e-8500-4563-8a68-2c2beade76e1" Alias="Whitemethod4logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whitemethod4logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:32:29</CreateDate>
    <NodeName Default="Whitemethod4logo" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pc0j01qa/whitemethod4logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>