<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea988c18-b953-4f05-83c0-627a148c44d7" Alias="WTW Relaunch Release Graphic" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WTWRelaunchReleaseGraphic</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-14T11:03:12</CreateDate>
    <NodeName Default="WTW Relaunch Release Graphic" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d0gjr0st/wtw-relaunch-release-graphic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>