<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b99cda4-6915-448c-aa26-9ab614166933" Alias="Yellowbackground" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yellowbackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:02:00</CreateDate>
    <NodeName Default="Yellowbackground" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ulgjssyv/yellowbackground.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>