<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bb124c7-89c0-436e-94c3-38c2cee03771" Alias="Yellownumbers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yellownumbers</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T16:01:59</CreateDate>
    <NodeName Default="Yellownumbers" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yeslcw4a/yellownumbers.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>