<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a00b7f2-8110-43b0-8dc9-f0f2397da78e" Alias="challengePage" Level="3">
  <Info>
    <Name>Challenge Page</Name>
    <Icon>icon-ball color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00a73cf2-2595-4b57-a4ba-22642f847115">contentPage</Parent>
    <Compositions>
      <Composition Key="00a73cf2-2595-4b57-a4ba-22642f847115">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>ChallengePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5153cf45-74d5-487c-ad1e-54a952befd03</Key>
      <Name>Colour</Name>
      <Alias>colour</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="color">Color</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85ee50ef-e797-4d47-b703-452e830137ce</Key>
      <Name>Image Row</Name>
      <Alias>imageRow</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03f47dec-cc84-4c02-9d00-4bca50907b3d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>8145d25a-deae-4217-a952-a0d27b13b4cd</Key>
      <Caption>Color</Caption>
      <Alias>color</Alias>
      <Type>Tab</Type>
      <SortOrder>81</SortOrder>
    </Tab>
  </Tabs>
</ContentType>