<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="095cc462-a80d-49a1-8b00-d52d19f3c43d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e1e5d3c7-d27d-4935-9dc4-c4df824ecb76">footerProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="4b3de78f-ef86-48d5-8b3b-c0a910ee9414">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
    <ContentType Key="683f989c-7cff-4a30-96eb-cf5666f0f6a2" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="60a73760-3688-4066-a5e4-9ce48fa870b7" SortOrder="2">contactPage</ContentType>
    <ContentType Key="0a00b7f2-8110-43b0-8dc9-f0f2397da78e" SortOrder="3">challengePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b5e62935-f7de-4efb-9863-30ff86b83bd0</Key>
      <Name>Wales Tech Week</Name>
      <Alias>walesTechWeek</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b2cb812-9a33-43e4-bc4f-4c135a1e1672</Key>
      <Name>What We Do</Name>
      <Alias>whatWeDo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>22c2fa98-bf64-4212-8838-2fe0db1a7138</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>