

/**umb_name:Heading*/
h1 {
	font-size: 40px;
}

/**umb_name:Red Font*/
.redText {
	color: red;
}

/**umb_name:Black Font*/
.blackText {
	color: black;
}

/**umb_name:yellow background*/
.yellowBackground {
	background-color:yellow;
}

/**umb_name:Custom Background*/
p.customBackground {
	background-color: #f8fc00;
}

/**umb_name:Large Font*/
p.largeFont {
	font-size:40px;
}

/**umb_name:Small Font*/
p.smallFont {
	font-size:10px;
}
