<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf193962-0671-4ef9-a4f9-bd412ace2380" Alias="Challenge 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Challenge1</Path>
    <Trashed Parent="f8ae041e-094a-4aa0-9903-971245cab3ae">true</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-09-14T11:00:15</CreateDate>
    <NodeName Default="Challenge 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f12a9ba-ca69-4711-b341-9b56606bbb1b">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>hello world again</p>]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/506edb67537b47a084ca1245e6cd18ac",
        "settingsUdi": "umb://element/9e03af01b5ff452fbab4961fb58b324d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/506edb67537b47a084ca1245e6cd18ac",
      "content": "<p>text</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/9e03af01b5ff452fbab4961fb58b324d",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ebd2e2b7-1081-4a11-b7b3-7d93a6e4cb9e",
    "mediaKey": "a0f0686a-d64c-4ef7-b5ed-1d6923921298"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Some of the text on this page is in red, can you change its colour to black to match the rest of the text? ]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Challenge 1]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>