<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f67e37f-9bcb-45bb-b960-022eb29f0d11" Alias="Challenge 7" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Challenge7</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-20T11:36:17</CreateDate>
    <NodeName Default="Challenge 7" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>                                                        <img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=151&amp;height=151" alt="" width="151" height="151" data-udi="umb://media/0f21b142ec9c4dc4a3a66b03b7e21a3e" /></p>
<p><span class="redText"><img class="rotate" alt="" />In the bustling city of NeoTokyo, a new phenomenon has taken hold: robot street performers.</span> These highly advanced humanoid robots, equipped with sensors and AI, dance, play instruments, and even tell jokes to entertain passersby. It's a captivating blend of technology and artistry, where the boundary between man and machine blurs as the robots move gracefully, <span class="blackText shadow">drawing crowds of curious onlookers who marvel at their creativity and precision.</span></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=221&amp;height=211" alt="" width="221" height="211" data-udi="umb://media/03b79b2f4cce4ee48246f0914a070500" /><img style="text-align: center;" class="rotate" alt="" /></p>
<p><span class="yellowBackground" style="background-color: none;">In the heart of the Amazon rainforest, a unique conservation effort is underway. A team of specialized tree-planting robots, affectionately called "Green Guardians," is working tirelessly to restore deforested areas.</span> These robots can plant hundreds of trees per day, using biodegradable pods filled with seeds and nutrients. They not only accelerate reforestation efforts but also help combat illegal logging, as they're equipped with sensors to detect and report any unauthorized activity. <span class="rotate-image">It's a powerful example of how robots are joining the fight to protect our planet's most precious ecosystems.</span></p>
<p> </p>
<p style="text-align: left;"><img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=175&amp;height=175" alt="" width="175" height="175" data-udi="umb://media/c0d370834a3f43929240ecabc14e88ba" /></p>
<p>In the depths of the ocean, autonomous underwater robots known as "Aqua Explorers" are uncovering <strong><em>the secrets of the deep. These robots, equipped with sonar and cameras, navigate the darkest and most remote parts of the ocean, revealing ancient shipwrecks, mysterious creatures, and geological wonders</em></strong>. They transmit their findings in real-time to scientists on the surface, providing a window into a world previously inaccessible to humans and shedding light on the mysteries of the deep sea.</p>]]></Value>
    </bodyText>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "70b7fcec-7ad9-4fe3-9b95-5d6401893f5e",
    "mediaKey": "cc1ed98f-d9f4-454a-8427-61b2def63942"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Spot the mistakes on this page, can you try and fix them all?]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Challenge 7]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>