<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aa4f302-bc4f-4f8f-a970-3f38078576ac" Alias="Challenge 3" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Challenge3</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-18T11:33:47</CreateDate>
    <NodeName Default="Challenge 3" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p style="font-size: 20px;">Different-sized fonts can be compared to Matryoshka dolls in a fascinating way, highlighting their nested and layered nature. Fonts are an essential aspect of typography, and they come in various sizes, each serving a unique purpose. Just like Matryoshka dolls, fonts are designed with a hierarchy in mind, where each size has its own significance and purpose.</p>
<p><img style="padding: 20px; float: left;" src="?rmode=max&amp;width=500" alt="" width="500" height="333.4139264990329" data-udi="umb://media/f71e09f3846649ba9187c13eb22099d9" /></p>
<p style="font-size: 10px;">Starting with the smallest font size, it can be likened to the innermost nested doll, the tiniest one that houses all the others. Small fonts, often referred to as fine print, are used for footnotes, disclaimers, or secondary information. They are discreet and tucked away, just like the inner Matryoshka doll, waiting to be discovered when needed.</p>
<p style="font-size: 20px;">Moving up in size, we encounter the medium-sized fonts. These fonts are like the intermediate dolls within the nested set. They serve as the main body of the text, making them the most prominent and easily noticeable. They carry the core message of the content, much like the central Matryoshka doll represents the essence of the set.</p>
<p style="font-size: 40px;">Large fonts, on the other hand, are akin to the larger dolls that encase the smaller ones. These fonts are bold and attention-grabbing, used for headlines and titles. They are the first thing that catches your eye, just as the larger Matryoshka dolls draw your attention when you look at the set as a whole.</p>
<p style="font-size: 20px;">The largest font size can be compared to the outermost nested doll, the one that forms the protective layer for all the others. These fonts are used sparingly, often for exceptional emphasis or signage. They provide structure and context to the overall design, much like the largest Matryoshka doll gives shape and identity to the nested set.</p>
<p style="font-size: 10px;">In summary, fonts of different sizes are like nested Matryoshka dolls within the realm of typography, with each size playing a crucial role in conveying information effectively. Just as Matryoshka dolls are meticulously crafted to fit within each other, fonts are carefully chosen and arranged to create visually appealing and informative content. The harmonious interplay of different font sizes ensures that the message is delivered with clarity and impact, just like the layers of nested Matryoshka dolls unveil a hidden treasure with each new discovery.</p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[yellow]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/09be945283e24745877a7151bc6bcdd8",
        "settingsUdi": "umb://element/fcf9552ff2cc44c4b4f159af4ffa4a6a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/09be945283e24745877a7151bc6bcdd8",
      "content": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/fcf9552ff2cc44c4b4f159af4ffa4a6a",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "a6192d9a-2b29-4b8e-8e3f-598a168a8fbc",
    "mediaKey": "02092719-1292-463a-a97b-1894669c253a"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[The paragraphs on this page all have different font sizes, can you format the text so that the paragraphs are all sized the same? ]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Challenge 3]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>