<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f038202-c90b-4ab1-9c28-07948065a666" Alias="Challenge 2" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Challenge2</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-14T12:40:47</CreateDate>
    <NodeName Default="Challenge 2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c561a10a673243f789211b246a68c197",
        "settingsUdi": "umb://element/ac89838ae39845069f2e8aee3f930c11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/c561a10a673243f789211b246a68c197",
      "content": "<p>Hello world</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/ac89838ae39845069f2e8aee3f930c11",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "81d43b23-dac8-4aac-8c24-1ab83ff61a99",
    "mediaKey": "a682490c-f763-49c0-9f7e-db20800d6677"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[text]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Challenge 2 - custom]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>