<?xml version="1.0" encoding="utf-8"?>
<Content Key="d37340d7-de9a-4c4c-bde0-bf70cc00ec01" Alias="Challenge 8" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Challenge8</Path>
    <Trashed Parent="f8ae041e-094a-4aa0-9903-971245cab3ae">true</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-20T12:41:05</CreateDate>
    <NodeName Default="Challenge 8" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>