<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f038202-c90b-4ab1-9c28-07948065a666" Alias="Challenge 2" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Challenge2</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-14T12:40:47</CreateDate>
    <NodeName Default="Challenge 2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p class="customBackground">The importance of suitable background colours in website design cannot be overstated. Background colours play a pivotal role in creating the overall aesthetic and user experience of a website. Here are five key reasons why choosing the right background colours is crucial in web design:</p>
<ol>
<li>
<p class="customBackground"><strong>Visual Appeal and Brand Identity</strong>: Background colours set the tone for a website's visual appeal and help establish brand identity. Consistent use of colours that align with a brand's logo and style guide creates a cohesive and memorable online presence. Visitors are more likely to remember and trust a website that maintains a harmonious colour palette throughout its design.</p>
</li>
<li>
<p class="customBackground"><strong>Readability and Accessibility</strong>: Selecting appropriate background colours is essential for ensuring readability and accessibility. High-contrast colour combinations between text and background, such as black text on a white background or vice versa, enhance legibility. Additionally, considering colour contrast is crucial for users with visual impairments who rely on screen readers, making your website more inclusive.</p>
</li>
<li>
<p class="customBackground"><strong>User Experience</strong>: Background colours significantly influence the overall user experience. The right choice can create a pleasant and engaging atmosphere, while the wrong one can deter visitors. For example, softer, muted background colours can convey a sense of calm and professionalism, ideal for websites with informative content or business-related themes. Meanwhile, vibrant and energetic backgrounds can be suitable for creative and artistic platforms.</p>
</li>
<li>
<p class="customBackground"><strong>Emotional Impact</strong>: Colours have a psychological impact on users. They can evoke emotions, influence moods, and even drive action. For instance, warm background colours like red or orange can create a sense of urgency or excitement, making them suitable for call-to-action buttons. Conversely, cool colours like blue or green can impart a sense of trust and tranquillity, which can be beneficial for healthcare or finance-related websites.</p>
</li>
<li>
<p class="customBackground"><strong>Branding Consistency Across Devices</strong>: In today's multi-device landscape, where users access websites on various screens and devices, background colours need to adapt to different display sizes and resolutions. Responsive design that considers how background colours scale and display across devices ensures that the website maintains its visual integrity and user experience, regardless of the screen size.</p>
</li>
</ol>
<p class="customBackground">In conclusion, background colours are a fundamental element of website design that affects not only the aesthetics but also the functionality and user experience. The right background colours can enhance brand identity, improve readability and accessibility, influence user emotions, and ensure consistency across devices. Web designers must carefully consider the psychology of colours, contrast, and the specific goals of the website to choose suitable background colours that effectively communicate the desired message and engage the audience.</p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[orange]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c561a10a673243f789211b246a68c197",
        "settingsUdi": "umb://element/ac89838ae39845069f2e8aee3f930c11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/c561a10a673243f789211b246a68c197",
      "content": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/ac89838ae39845069f2e8aee3f930c11",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b9df6323-abbe-4da5-927d-18a60a7b3ec4",
    "mediaKey": "7923a58e-01d2-4ce9-89c5-9a259ef9f1d4"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Can you change the background colour to a more suitable colour of your choice?]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Challenge 2]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>