<?xml version="1.0" encoding="utf-8"?>
<Content Key="930029a0-3de7-4325-9cb9-f07aaaa1f692" Alias="Challenge 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Challenge2</Path>
    <Trashed Parent="f8ae041e-094a-4aa0-9903-971245cab3ae">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-09-14T11:14:09</CreateDate>
    <NodeName Default="Challenge 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e6a13a080c404ad0a9a08eaffd0f6396",
        "settingsUdi": "umb://element/9d1cfbe19d22495bb24c5aee6cee990d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/e6a13a080c404ad0a9a08eaffd0f6396",
      "content": "<p>fwqefw</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/9d1cfbe19d22495bb24c5aee6cee990d",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "eda7f9c6-5c59-42ff-9437-3697f3f99813",
    "mediaKey": "a682490c-f763-49c0-9f7e-db20800d6677"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This is challenge 2]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Challenge 2]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>