<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e389936-b142-4867-b332-a405fac18f6d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-08-16T23:43:27</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d267e100-de8a-4909-bd39-00dc95669a99">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ffb8a2b821b4e159e51f5b936f06f7e",
        "settingsUdi": "umb://element/499a25c79c6d45fcb2f318eccd949a76"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "80e32829-baab-4a5e-90a4-5cb2b37109bb",
      "udi": "umb://element/5ffb8a2b821b4e159e51f5b936f06f7e",
      "image": [
        {
          "key": "4614fdaf-5569-4f0c-93a9-ec73f4331460",
          "mediaKey": "a682490c-f763-49c0-9f7e-db20800d6677"
        }
      ],
      "caption": "Dog",
      "link": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f799051f-7674-46e5-8afa-39faf5745936",
      "udi": "umb://element/499a25c79c6d45fcb2f318eccd949a76",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7fe717cf-e29b-4453-85fb-94d4b9957cf1",
    "mediaKey": "a0f0686a-d64c-4ef7-b5ed-1d6923921298"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>