<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b4e8a05-785e-4adf-bf91-e0213afe549a" Alias="Dark-blue challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/DarkBlueChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-20T11:28:59</CreateDate>
    <NodeName Default="Dark-blue challenge" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Stranded. Yes, she was now the first person ever to land on Venus, but that was of little consequence. Her name would be read by millions in school as the first to land here, but that celebrity would never actually be seen by her. She looked at the control panel and knew there was nothing that would ever get it back into working order. She was the first and it was not clear this would also be her last.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=250&amp;height=375" alt="" width="250" height="375" data-udi="umb://media/7c2b1bef35eb4407aa8a4c7645500a69" /></p>
<p>The clowns had taken over. And yes, they were literally clowns. Over 100 had appeared out of a small VW bug that had been driven up to the bank. Now they were all inside and had taken it over.</p>
<p>It had been a simple realization that had changed Debra's life perspective. It was really so simple that she was embarrassed that she had lived the previous five years with the way she measured her worth. Now that she saw what she had been doing, she could see how sad it was. That made her all the more relieved she had made the change. The number of hearts her Instagram posts received wasn't any longer the indication of her own self-worth.</p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[darkblue]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "48834ed0-7024-4cb8-a777-ab07623c4078",
    "mediaKey": "895ace26-caee-42e5-8f11-5549d42261d6"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[There's an image within a paragraph of text on this page, can you move that image below the text?]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Dark-blue challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>