<?xml version="1.0" encoding="utf-8"?>
<Content Key="8990e6dd-6b05-4c29-84e6-f020ff840557" Alias="Green Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/GreenChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-14T16:37:42</CreateDate>
    <NodeName Default="Green Challenge" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[green]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b3738f4560364e3a8ff8035164dab6b8",
        "settingsUdi": "umb://element/ffc55de0c4144e6196a0c6fd937bc3e5"
      },
      {
        "contentUdi": "umb://element/f24f57e59c8049abaedbf3b3f26138c6",
        "settingsUdi": "umb://element/7182c3e41c7644b9a785fa9c37b4f381"
      },
      {
        "contentUdi": "umb://element/052cb8fa78704e5d8c4eb6c60ba4b6d9",
        "settingsUdi": "umb://element/88f443b3122e4ea7a70d6cb7f13a90df"
      },
      {
        "contentUdi": "umb://element/9c36b63f6b7c469796f1edd1b2a8d1f6",
        "settingsUdi": "umb://element/7ad86a351ccc402b87ccba69e53ebae7"
      },
      {
        "contentUdi": "umb://element/211c9b9fbba747b2b846fb68dbd08392",
        "settingsUdi": "umb://element/8a09a30847b44363ac59885253d6ee3f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2313fa38-d735-46ac-bdf6-e6542ad60232",
      "udi": "umb://element/b3738f4560364e3a8ff8035164dab6b8",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2dfcddb8340c43e09fc43a1de8f63596",
              "settingsUdi": "umb://element/e6dce30f5b4c4a3e8bf18dc6bb605fa9"
            },
            {
              "contentUdi": "umb://element/00a8bab718c748eeb784608b18ccfc83",
              "settingsUdi": "umb://element/44bcdc398d5b41cdbb3d722ae6c043cd"
            },
            {
              "contentUdi": "umb://element/7d61bf32253a40f3abe9405726af280b",
              "settingsUdi": "umb://element/50fc943d49cc4f9293243539cf2b75a2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/2dfcddb8340c43e09fc43a1de8f63596",
            "title": "Golden Retriever",
            "description": "",
            "image": [
              {
                "key": "02fa61d6-ef33-4cf5-a066-ea26b59a680b",
                "mediaKey": "6b991ab8-6615-452a-88e7-0a325cca2694"
              }
            ]
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/00a8bab718c748eeb784608b18ccfc83",
            "title": "Beagle",
            "description": "",
            "image": [
              {
                "key": "be6981d8-cc12-45cc-bc90-1b6e106b961f",
                "mediaKey": "06d146fd-7a6c-4984-b99e-d8f2816f39e3"
              }
            ]
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/7d61bf32253a40f3abe9405726af280b",
            "image": [
              {
                "key": "f3918076-93f7-47ac-9b0e-ca3d2b2cf286",
                "mediaKey": "d1095806-b0da-481e-aebf-a85c521ef5c3"
              }
            ],
            "title": "Corgi"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/e6dce30f5b4c4a3e8bf18dc6bb605fa9",
            "hide": "0"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/44bcdc398d5b41cdbb3d722ae6c043cd",
            "hide": "0"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/50fc943d49cc4f9293243539cf2b75a2"
          }
        ]
      }
    },
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/f24f57e59c8049abaedbf3b3f26138c6",
      "content": "<p>People's preferences for dogs vary widely, reflecting the diverse tapestry of personalities and lifestyles that make up our world. Just as our individual tastes in food, music, and hobbies differ, so do our affinities for canine companions. Some people are drawn to the energy and playfulness of breeds like Labrador Retrievers, finding joy in their exuberant nature. Others appreciate the elegance and grace of Afghan Hounds, resonating with their regal presence. Meanwhile, some opt for the loyalty and protectiveness of German Shepherds, valuing their unwavering devotion. Whether it's the compact charm of a Dachshund or the gentle disposition of a Golden Retriever, the diversity of dogs mirrors our own uniqueness, ensuring there's a perfect pup for everyone.</p>"
    },
    {
      "contentTypeKey": "80e32829-baab-4a5e-90a4-5cb2b37109bb",
      "udi": "umb://element/052cb8fa78704e5d8c4eb6c60ba4b6d9",
      "image": [
        {
          "key": "3934eceb-b6e6-4f8e-b55b-58a3e2da2345",
          "mediaKey": "12361db6-fb50-4f32-8ffa-76c4aefebe73"
        }
      ],
      "caption": "Husky",
      "link": null
    },
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/9c36b63f6b7c469796f1edd1b2a8d1f6",
      "content": "<p>Dogs, often referred to as \"man's best friend,\" have a rich history of companionship with humans. They come in an astounding variety of breeds, over 340 recognized by various kennel clubs worldwide. The Basenji, originating from Africa, is known as the \"barkless dog\" due to its unique vocalization. Dogs also exhibit remarkable intelligence; the Border Collie, for instance, is considered one of the most intelligent breeds, capable of learning complex tasks. Moreover, their acute sense of smell has made them invaluable in various roles, from search and rescue to detecting drugs and explosives. Whether as loyal family pets or working animals, dogs continue to captivate us with their diverse abilities and unwavering devotion.</p>"
    },
    {
      "contentTypeKey": "4b14f682-a560-4f89-875a-c8195e1ed959",
      "udi": "umb://element/211c9b9fbba747b2b846fb68dbd08392",
      "title": "FAQs",
      "description": "These are some FAQs",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7701f0c698174022b4e0fbfba18cde3f",
              "settingsUdi": "umb://element/988127ae82eb455e983b061114555872"
            },
            {
              "contentUdi": "umb://element/77d372d2ec904a51bb8b12555ea819c8",
              "settingsUdi": "umb://element/23894ddf78af4afcb9078d4cda9cb47c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "add064bb-20f1-4bbf-8e42-fc6a222376ec",
            "udi": "umb://element/7701f0c698174022b4e0fbfba18cde3f",
            "title": "What is the biggest breed of dog?",
            "content": "<p>The English Mastiff</p>"
          },
          {
            "contentTypeKey": "add064bb-20f1-4bbf-8e42-fc6a222376ec",
            "udi": "umb://element/77d372d2ec904a51bb8b12555ea819c8",
            "title": "How many dogs in the world are there?",
            "content": "<p>There are around 900 million dogs in the world</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f9b7b6f5-96a0-4fe5-a48c-d0ce24b27a83",
            "udi": "umb://element/988127ae82eb455e983b061114555872"
          },
          {
            "contentTypeKey": "f9b7b6f5-96a0-4fe5-a48c-d0ce24b27a83",
            "udi": "umb://element/23894ddf78af4afcb9078d4cda9cb47c"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b76d6507-842d-4b7c-bd2c-16b3f9cf6a93",
      "udi": "umb://element/ffc55de0c4144e6196a0c6fd937bc3e5",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationArrows": "1",
      "showDarkMode": "0"
    },
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/7182c3e41c7644b9a785fa9c37b4f381",
      "hide": "0"
    },
    {
      "contentTypeKey": "f799051f-7674-46e5-8afa-39faf5745936",
      "udi": "umb://element/88f443b3122e4ea7a70d6cb7f13a90df",
      "hide": "0"
    },
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/7ad86a351ccc402b87ccba69e53ebae7",
      "hide": "0"
    },
    {
      "contentTypeKey": "6c624f81-186c-48a2-af6c-f6b48fa5f95f",
      "udi": "umb://element/8a09a30847b44363ac59885253d6ee3f",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "2d233252-289c-4498-a467-a59ea2a57f6d",
    "mediaKey": "a78c5323-003f-450e-9743-c7866688595b"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Find the image that doesn't match and replace it with a more suitable one.]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Green Challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>