<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[© Method4 Ltd 2023 – registered in England and Wales (no. 05444987) at 12-14 Trade Street, Cardiff CF10 5DT]]></Value>
    </address>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/method4ltd"
  },
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/method4/"
  }
]]]></Value>
    </footerSocialLinks>
    <logos>
      <Value><![CDATA[[
  {
    "key": "75ee6ece-95d1-41c2-90ea-2f337b74b664",
    "mediaKey": "f00b34f5-ef04-4b9e-a3e1-f9e7ad536471"
  },
  {
    "key": "58099611-d562-41b1-9222-ce42cd57ac35",
    "mediaKey": "47660032-aa63-4ede-9534-6f885f7ed630"
  }
]]]></Value>
    </logos>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "33cb4bca-cff5-4eb6-838f-fc0d764c769a",
    "mediaKey": "0c9097cf-a1b8-4a8a-9192-63ab52a596e9"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/f8ae041e094a4aa09903971245cab3ae"
      }
    ],
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Challenges",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Challenges",
    "link": null,
    "childLinks": [
      {
        "name": "Red Challenge",
        "udi": "umb://document/900757bc33c347acbb34d72849e14811"
      },
      {
        "name": "Orange Challenge",
        "udi": "umb://document/5f038202c90b4ab19c2807948065a666"
      },
      {
        "name": "Yellow Challenge",
        "udi": "umb://document/8aa4f302bc4f4f8fa9703f38078576ac"
      },
      {
        "name": "Green Challenge",
        "udi": "umb://document/8990e6dd6b054c2984e6f020ff840557"
      },
      {
        "name": "Light-blue Challenge",
        "udi": "umb://document/0ab2340b179a4e5f8e23cbed7577d4db"
      },
      {
        "name": "Dark-blue Challenge",
        "udi": "umb://document/0b4e8a05785e4adfbf91e0213afe549a"
      },
      {
        "name": "Purple Challenge",
        "udi": "umb://document/8f67e37f9bcb45bbb960022eb29f0d11"
      },
      {
        "name": "Black Challenge",
        "udi": "umb://document/068ff13239324398896ac08e1efa1ac9"
      }
    ]
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[
  {
    "key": "8bad194b-afcd-4eb7-9640-b02ee742eb43",
    "mediaKey": "43d145a7-f601-47fc-988d-8603ffe73527"
  }
]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <walesTechWeek>
      <Value><![CDATA[[
  {
    "key": "c024c5dd-268f-4f60-aa44-9a1609345688",
    "mediaKey": "8c0eee5a-501c-434d-b848-c8165c6b804b"
  }
]]]></Value>
    </walesTechWeek>
    <whatWeDo>
      <Value><![CDATA[[
  {
    "key": "2e206fe8-954c-43a0-95df-24bb21a2612c",
    "mediaKey": "9123aa77-a4b8-4e19-9a5c-5e07d43af87e"
  }
]]]></Value>
    </whatWeDo>
  </Properties>
</Content>