<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/prjseal"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/CodeSharePaul"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/PaulSealUK"
  }
]]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b384ada3-4f03-4ea9-8bd1-51927058e562",
    "mediaKey": "5b3001b9-ad3f-484b-a27c-6d312c2bc7b2"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/f8ae041e094a4aa09903971245cab3ae"
      }
    ],
    "childLinks": null
  },
  {
    "key": "63a60eb6-f746-412f-989e-e96fc33c6b8f",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/dd7e61a070db416ca069b5dedfef3831"
      }
    ],
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Challenges",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Challenges",
    "link": null,
    "childLinks": [
      {
        "name": "Challenge 1",
        "udi": "umb://document/900757bc33c347acbb34d72849e14811"
      },
      {
        "name": "Challenge 2",
        "udi": "umb://document/5f038202c90b4ab19c2807948065a666"
      },
      {
        "name": "Challenge 3",
        "udi": "umb://document/8aa4f302bc4f4f8fa9703f38078576ac"
      },
      {
        "name": "Challenge 4",
        "udi": "umb://document/8990e6dd6b054c2984e6f020ff840557"
      }
    ]
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[
  {
    "key": "8bad194b-afcd-4eb7-9640-b02ee742eb43",
    "mediaKey": "43d145a7-f601-47fc-988d-8603ffe73527"
  }
]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Wales Tech Week 2023]]></Value>
    </title>
  </Properties>
</Content>