<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ab2340b-179a-4e5f-8e23-cbed7577d4db" Alias="Inverted Image Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/InvertedImageChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-18T13:16:13</CreateDate>
    <NodeName Default="Inverted Image Challenge" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>  </p>
<p> </p>]]></Value>
    </bodyText>
    <imageRow>
      <Value><![CDATA[[
  {
    "key": "289c7690-16ca-40eb-b4e8-c4c4ec8c6416",
    "mediaKey": "b943908a-ee2b-4f21-9bd7-66febfcfdde0"
  },
  {
    "key": "96103fbf-3913-4769-8038-3387f0ca28ed",
    "mediaKey": "aa72e86b-248b-4598-9517-40cc2965f90f"
  },
  {
    "key": "3823ba4d-e1d3-462b-953d-06ccaf7fa661",
    "mediaKey": "82be75ab-4784-42eb-90c7-0f85a73c8c5f"
  },
  {
    "key": "eb6dfbfa-094e-483d-961d-5dec77230498",
    "mediaKey": "676e7212-db53-40f2-897a-d04934938780"
  },
  {
    "key": "95e6edc9-32e7-4a02-a338-aabee43ba7b4",
    "mediaKey": "ffdcd4d4-2bf7-46da-b159-d6e69bbad4e7"
  },
  {
    "key": "09942db8-76c3-46f6-87d4-83a201fc95f6",
    "mediaKey": "9fb07cfd-d744-440e-92f3-89d3f88737b1"
  },
  {
    "key": "c5ecbcc8-e57f-4930-953d-ad36f96a3eb5",
    "mediaKey": "039982c0-bed8-4139-84b1-2fdc154c04de"
  },
  {
    "key": "3b404371-d45d-4fb8-b943-98023ef91ad3",
    "mediaKey": "db44a066-4c45-4721-88c2-a995b25ad4f9"
  }
]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7bedaae1-a0a6-4f63-9f1f-80c0f7e8b3af",
    "mediaKey": "f88db9e8-1af1-4383-ab0f-e441584f0a63"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>