<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ab2340b-179a-4e5f-8e23-cbed7577d4db" Alias="Light-blue Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/LightBlueChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-18T13:16:13</CreateDate>
    <NodeName Default="Light-blue Challenge" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>  </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget elementum ipsum. Quisque pulvinar pulvinar odio eleifend rutrum. Nullam libero ex, lacinia in justo sit amet, viverra aliquet risus. Morbi aliquet elit ligula, non faucibus felis luctus vitae. Nullam ac aliquet purus. Praesent varius nisi at accumsan lacinia. Vivamus vehicula feugiat lobortis. Duis sodales vel massa efficitur iaculis. Phasellus at nulla quis odio pretium viverra. Donec lorem justo, fermentum nec leo ut, convallis feugiat lacus.<img style="transform: rotate(90deg);" src="?rmode=max&amp;width=500" alt="" width="500" height="333.4139264990329" data-udi="umb://media/c4d2b785410145a7aca5c5ebff7cec56" /></p>
<p> </p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[lightblue]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[
  {
    "key": "6ee28eb7-ac1a-4f04-87c3-27601dd76ae1",
    "mediaKey": "c4d2b785-4101-45a7-aca5-c5ebff7cec56"
  },
  {
    "key": "c657f629-f91e-4b26-a121-a2a1761d2974",
    "mediaKey": "eece9c80-74bc-44f3-ace2-527c3b5a3f59"
  },
  {
    "key": "307c6253-5501-42ae-8e98-f7a3e5b8d37e",
    "mediaKey": "8355803d-67f0-467b-9320-785a91eeb740"
  },
  {
    "key": "b2ff5a68-b930-4be5-bd76-4acb25db7fd7",
    "mediaKey": "4d8a66a0-1181-4c09-87ae-6826c3b574e9"
  },
  {
    "key": "b6d2794e-9bc5-4113-afd2-be1e9671f191",
    "mediaKey": "ad8c0153-2efc-49e0-bce2-85b39c90d811"
  },
  {
    "key": "a3e79524-1b87-4347-93cf-de614852460a",
    "mediaKey": "95028565-fbca-44fe-80e2-f129a317f7db"
  },
  {
    "key": "15f8916f-74f9-415d-a4a2-865b3bb1971f",
    "mediaKey": "be5a95d2-bf97-47f6-8727-605202634f34"
  },
  {
    "key": "af4835e7-ef4e-448f-901e-d2173102a9b2",
    "mediaKey": "a223ffa6-66c0-4591-a63c-5ac903d2e85e"
  }
]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5f9d4aa7-4aca-4ba4-acca-351d4f55cba7",
    "mediaKey": "42da5294-513a-44f2-8914-a5149f390c83"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[An image on this page is displayed incorrectly, can you rotate it back to zero degrees?]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Light-blue Challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>