<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ab2340b-179a-4e5f-8e23-cbed7577d4db" Alias="Light-blue Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/LightBlueChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-18T13:16:13</CreateDate>
    <NodeName Default="Light-blue Challenge" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Cats are one of the most popular and beloved pets worldwide, known for their independent and mysterious nature. These fascinating creatures have been companions to humans for thousands of years, with their domestication dating back to ancient Egypt. Cats come in various breeds, each with its unique characteristics, but they share some common traits that endear them to people everywhere.</p>
<p>One of the most distinctive features of cats is their agility and grace. They are known for their acrobatic abilities, often leaping effortlessly to high places and displaying incredible balance. Cats are also meticulous groomers, spending a significant portion of their day cleaning themselves. This self-grooming not only keeps them clean but also helps regulate body temperature and reduces stress.</p>
<p><img style="transform: rotate(90deg); padding: 20px; float: left;" src="?rmode=max&amp;width=500" alt="" width="500" height="333.4139264990329" data-udi="umb://media/c4d2b785410145a7aca5c5ebff7cec56" />Cats have an uncanny ability to communicate with their owners and other cats through body language and vocalizations. Their purring is a universally recognized sign of contentment, while meowing can convey various needs, from hunger to playfulness. Cats are known for their independent spirit, but they also form strong bonds with their human companions. Many cat owners can attest to the joy of a warm lap filled with a purring feline friend.</p>
<p>In addition to their endearing qualities, cats offer several practical benefits as pets. They are low-maintenance in terms of exercise, making them suitable for people with busy lifestyles. Their hunting instincts can help keep homes free of unwanted pests, such as mice and insects. Overall, cats bring a unique blend of charm, companionship, and utility to the households fortunate enough to have them as members of the family.</p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[lightblue]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5f9d4aa7-4aca-4ba4-acca-351d4f55cba7",
    "mediaKey": "42da5294-513a-44f2-8914-a5149f390c83"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[An image on this page is displayed incorrectly, can you rotate it back to zero degrees?]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Light-blue Challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>