<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f67e37f-9bcb-45bb-b960-022eb29f0d11" Alias="Purple Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/PurpleChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-20T11:36:17</CreateDate>
    <NodeName Default="Purple Challenge" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>You can change this text in your web browser, to whatever you would like. This text talks about robots, but you can change that. Robots are machines that can do things automatically, like your computer automatically correcting words when you type. People are using robots in many different jobs, like making things in factories or even helping doctors in surgeries.</p>
<p>Sometimes, though, people use robots for things that don't really make much sense, just like the idea of changing this text for no reason. It's important to understand when robots are being helpful and when they're just there for fun or don't really serve a useful purpose. So, even though robots are cool and can do amazing things, we should always think about why they're being used and whether it's for a good reason.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=385&amp;height=275" alt="" width="385" height="275" data-udi="umb://media/3409475fcb1d4852960d8974584d6423" /></p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[purple]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d8679c3d-99e2-4290-aa2a-c5338c7e3251",
    "mediaKey": "bf3e9756-97c0-4744-913b-2a95562e7348"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Change the wording on this web page.]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Purple Challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>