<?xml version="1.0" encoding="utf-8"?>
<Content Key="900757bc-33c3-47ac-bb34-d72849e14811" Alias="Red Challenge" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/RedChallenge</Path>
    <Trashed>false</Trashed>
    <ContentType>challengePage</ContentType>
    <CreateDate>2023-09-14T15:53:57</CreateDate>
    <NodeName Default="Red Challenge" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f960fd24-0a4c-484e-b431-259f2e4f97d9">ChallengePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><img style="padding: 20px; float: right;" src="?rmode=max&amp;width=406&amp;height=305" alt="" width="511" height="395" data-udi="umb://media/a54a8f8ca2034e9a93f477bead362537" data-caption="Sleek Tech" /></p>
<p>In the world of technology, the colours red and black hold distinct significance and convey powerful messages. Black, often synonymous with modernity and elegance, is a timeless choice for the exteriors of high-tech gadgets and premium tech products. The deep, matte black finish on devices such as smartphones, laptops, and gaming consoles not only signifies a sense of top-tier quality but also adds to their visual allure, setting them apart in a competitive market. Black embodies the inherent strength and enigma that technology encapsulates, alluding to the immense potential and capabilities concealed beneath these sleek surfaces.</p>
<p style="color: #ff0000;">Conversely, red plays a different role in the tech industry. Red is frequently employed to evoke feelings of excitement, and urgency. This vibrant hue can be seen in illuminated buttons, warning indicators, and accents on various devices. For example, red LED lights on gaming peripherals like keyboards and mice not only create a visually stimulating effect but also serve as dynamic indicators, notifying users of important in-game events. Additionally, red is used in user interfaces and app icons to draw attention to critical notifications or error messages, ensuring users promptly notice and respond to them.</p>
<p>In tandem, the combination of red and black in tech design generates a striking contrast that effectively balances sophistication with enthusiasm. Black provides a sleek backdrop for showcasing cutting-edge technology, while red introduces an element of dynamism and emotional engagement. Whether it's the understated refinement of a black smartphone or the adrenaline-inducing glow of red LEDs on a gaming setup, these colours are instrumental in shaping our perception of technology and its role in our lives.</p>
<p style="color: #ff0000;">In conclusion, red and black are not merely colours in the tech world; they are powerful tools that convey messages and emotions, leaving lasting impressions on consumers. These colours encapsulate the essence of modern technology, where elegance meets innovation, and excitement intertwines with sophistication. Whether it's a minimalist black smartphone or the fiery red accents on a gaming laptop, these colours continue to shape the way we perceive <span>and interact with technology in our increasingly digital world</span></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="" width="50%" height="333.65570599613153" data-udi="umb://media/417a55af91264728adf85b0460c5a527" /></p>]]></Value>
    </bodyText>
    <colour>
      <Value><![CDATA[red]]></Value>
    </colour>
    <imageRow>
      <Value><![CDATA[[]]]></Value>
    </imageRow>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3d5c2544dd00429a8a1e6eba7ec18170",
        "settingsUdi": "umb://element/2da472b4bda745ffa75742068159b7c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/3d5c2544dd00429a8a1e6eba7ec18170",
      "content": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/2da472b4bda745ffa75742068159b7c6",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d5159249-66e8-4b3a-99c2-1d7ac57efead",
    "mediaKey": "0b080cc5-d8b4-4857-ae31-b4db750f09a0"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Some of the text on this page is in red, can you change it to black to match the rest? ]]></Value>
    </subtitle>
    <talent4TechImage>
      <Value><![CDATA[[]]]></Value>
    </talent4TechImage>
    <title>
      <Value><![CDATA[Red Challenge]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>