@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}



@*@await Html.PartialAsync("~/Views/Partials/latestArticles.cshtml")*@

<div style="padding: 20px; width: auto; height: 98px; display: flex; justify-content: left;">

    <img style=" height:100%" src="@Model.WalesTechWeek.Url()"/>

</div>


<img style="height: auto; width:100%" src="@Model.WhatWeDo.Url()" />

